/*
body {
    background-color: #6ff;
    background-image:url(https://www.google.is/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
    background-repeat: no-repeat;     
    background-position: 200px 300px; /* föst staðsetning frá vinstra horni efst */
 /*   background-position: center middle;
    /* X lárétt: left, center, right. Y lóðrétt: top, middle, bottom */
  /*  background-attachment: fixed; /* scroll */	
/*}
/*
body {			
	background: rgb(3,3,3) url(https://www.google.is/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png) 0px -5px scroll no-repeat;
            /*  litur,   mynd,  staðsetning X-Y,  fixed,  repeat -x -y */

/*}*/
body{
    max-width: 60em;
    margin: auto;
}
header{
    display: flex;
    background-color: darkblue;
    color: white;
    padding-top:4em;
    justify-content: space-between;
}
header a{
    color: white;
    text-decoration: none;
}
nav{
    margin: auto 0 1em 0;
}