body{
    max-width: 60em;
    margin: auto;
    padding: 1em;
}
.gridflexible{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
}
@media screen and (min-width:37.5em){  
    .gridflexible {grid-template-columns: repeat(2, 1fr)}  
} 
@media screen and (min-width:48em){  
    .gridflexible {grid-template-columns: repeat(4, 1fr);}  
} 