body{
    font-family: 'Roboto', sans-serif;
    max-width: 50em;
    margin: auto;
    padding: 1.5em;
    box-shadow: 0 0 4em #bdbcbc;
}

h1{
    background-image: linear-gradient(
        0deg,#ff61d3 10%,#b318ff 30%,#b318ff 47%,#30b6ff 67%,#00d7ff 76%,#1e43ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    color: red;
}
h3{
    color: green;
}
em{
    color: purple;
}
b{
    color: brown;
}
a{
    color: seagreen;
    transition:0.2s ease;
    box-shadow: 0 10px transparent;
}
a:active{
    opacity: 0.5;
    transition:0.08s ease;
}
a:hover{
    color: orange;
    box-shadow: 0 2px orange;
}
.margin-left{
    margin-left: 2em
}