body{
    margin: 2em auto;
    max-width: 60em;
}
.first , .second{
    border: 2px solid green;
}
.second{
    color: red;
}
.third{
    border: 4px dotted blue;
    color: blue;
    padding: 1em;
}
.container{
    border: 4px solid red;
    padding: 2em;
    margin: 2em 0;
}

/* Verkefni 2-2 */

li{
    padding: 1em;
    margin: 2em;
    border: 3px dashed;
    border-color: green;
}
.inline li{
    border-color: blue;
    color: red;
    display: inline;
}
.inline-block li{
    border-color: red;
    display: inline-block;
}
ul{
    margin-bottom: 4em;
}